doctype html
html(lang="en")
  head
    include ./includes/head
    
    block title
      title Administrator
  body
    include ./includes/navbar
    
    block content
    
    include ./includes/foot
