include ./includes/mixins
extends ./layout

block title
  title Administrator | Users
  
block content
  
  h1 Users
  
  table
    if(users !='')
     each val , key in users
      +tableRow('rowA', val._id, val.twitter.displayName, val.twitter.username)
  
