.tournament-info {
  position: relative;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba($black, .1);
  padding: 50px 25px;
  background: url('http://tweetstockr.com/images/cover-background.png') $color-primary center center no-repeat;
  background-size: contain;
  margin-bottom: 30px;
}

.tournament-date {
  text-align: center;
  display: inline-block;
  padding-top: 150px;
}

.tournament-date__month,
.tournament-date__day,
.tournament-date__year {
  display: block;
  margin-bottom: 0;
  color: $white;
}

.tournament-date__month {
  text-transform: uppercase;
  font-size: 25px;
  line-height: 30px;
  font-weight: 400;
}

.tournament-date__day {
  font-size: 40px;
  line-height: 45px;
  font-weight: 500;
}

.tournament-date__year {
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
}

.tournament-content {
  display: inline-block;
  margin-left: 30px;
  vertical-align: super;
}

.tournament-content__title {
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  color: $white;
}

.tournament-content__category {
  display: inline-block;
  padding: 5px 10px;
  color: $white;
  font-size: 14px;
  border: 2px solid $white;
  background-color: rgba($white, .25);
}

.tournament-countdown {
  display: block;
  background-color: $white;
  width: 100%;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 0 0 20px rgba($black, .1);
}

.tournament-countdown__title {
  text-transform: uppercase;
  color: $color-primary;
  font-weight: 300;
  margin-bottom: 30px;
  font-size: 16px;
}

.tournament-time {
  display: inline-block;
  width: 33.3%;
}

.tournament-time__title {
  display: block;
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
  color: $color-primary;
}

.tournament-time__description {
  text-transform: uppercase;
  color: $color-primary;
  font-size: 10px;
  font-weight: 500;
}

.tournament-countdown__btn {
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
