nav.subheader
  .container-fluid
    ul
      li.subheader-item
        a(href="/play/market")
          include ./../icons/market-icon.pug
          span Market

      li.subheader-item
        a(href="/play/shop")
          include ./../icons/shop-icon.pug
          span Shop

      li.subheader-item
        a(href="/play/ranking")
          include ./../icons/ranking-icon.pug
          span Ranking

      li.subheader-item
        a(href="/play/tournaments")
          include ./../icons/tournaments-icon.pug
          span Tournaments
