.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand(href="/admin") Tweetstockr ADMIN
    
    ul.nav.navbar-nav
      li
        a(href="/admin/users/list") Users
      li
        a(href="/admin/tournaments/list") Tournaments
