//- Navbar item mixin --------------------------
mixin link(href, name)
  li
    a(class!=attributes.class, href=href)= name
//- --------------------------------------------  

ul
  +link('/admin', 'Home')(class="btn")
  +link('/admin/users/list', 'Users')(class="btn")
  +link('/admin/tournaments/list', 'Tournaments')(class="btn")
