extends ../layout

block title
  title Market - Tweetstockr
  
block content

  section.market(scroll ng-controller="marketController")
  
    p nextUpdateIn: {{ nextUpdateIn }}
    p lastUpdate: {{ lastUpdate }}
    p nextUpdate: {{ nextUpdate }}
    p roundDuration: {{ roundDuration }}
    p stocks: {{ stocks }}
  
    header.market-header(ng-class="{fixed:boolChangeClass}")
      ul.market-tabs
        
        li.market-tabs-item(ng-click="onClickTab('PORTFOLIO')" ng-class="{'active': isActiveTab('PORTFOLIO')}")
          a.market-tabs-link(href="#" ng-class="{'is-active': isActiveTab('PORTFOLIO')}")
            .tab-icon
              include ../icons/portfolio-icon
              | Portfolio
        
        li.market-tabs-item(ng-click="onClickTab('SHARES')" ng-class="{'active': isActiveTab('SHARES')}")
          a.market-tabs-link(href="#" ng-class="{'is-active': isActiveTab('SHARES')}")
            .tab-icon
              include ../icons/shares-icon
              | Shares
      
      .market-points(ng-show="boolChangeClass")
        include ./../icons/dollar-icon
        span {{ balance | number }} pts
      
      canvas(class="countdown" width="200" height="200" countdown)
      span.countdown-timer {{ nextUpdateIn }}

    .market-content
      include ./../components/loading
      
      div(ng-show="isActiveTab('SHARES')")
        include ../components/shares
      div(ng-show="isActiveTab('PORTFOLIO')")
        include ../components/portfolio    
          
      audio(class="market-audio" controls id="audio")
        source(src="assets/coin.mp3" type="audio/mpeg")
      audio(class="market-audio" controls id="audio2")
        source(src="assets/coin2.mp3" type="audio/mpeg")
