extends ../layout

block title
  title Market - Tweetstockr
  
block content
  section.market(scroll ng-controller="marketController")
    header.market-header(ng-class="{fixed:boolChangeClass}")
      ul.market-tabs
        li(class="market-tabs-item" ng-repeat="marketTab in marketTabs")
          a(class="market-tabs-link" href="#" ng-class="{active: isActiveTab(marketTab.url)}" ng-click="onClickTab(marketTab)")
            .tab-icon
              div(ng-include="marketTab.icon")

            | {{ marketTab.title }}
      
      .market-points(ng-show="boolChangeClass")
        include ./../icons/dollar-icon
        span {{ balance | number }} pts
      
      canvas(class="countdown" width="200" height="200" countdown)
      span.countdown-timer {{ nextUpdateLabel }}

    .market-content
      include ./../components/loading
      
      div(ng-include="currentTab")
      
      audio(class="market-audio" controls id="audio")
        source(src="../assets/coin.mp3" type="audio/mpeg")
        
      audio(class="market-audio" controls id="audio2")
        source(src="../assets/coin2.mp3" type="audio/mpeg")

  div(ng-include src="'/views/components/shares.html'")
  div(ng-include src="'/views/components/portfolio'")
  div(ng-include src="'/views/icons/shares-icon.jade'")
  div(ng-include src="'/views/icons/portfolio-icon.jade'")
