extends ../layout

block title
  title Tournaments - Tweetstockr
  
block content
  
  section.tournament(ng-controller="tournamentsController")
    .tournament-info(ng-repeat="tournament in tournamentsList | orderBy: 'dateStart'")
      .row
        .col-md-8
          section.tournament-date
            label.tournament-date__month
              | {{ tournament.dateStart | date: 'MMM' }}
            
            label.tournament-date__day
              | {{ tournament.dateStart | date: 'dd' }}
            
            label.tournament-date__year
             | {{ tournament.dateStart | date: 'yyyy' }}
             
          section.tournament-content
            h2.tournament-content__title
              | {{ tournament.name }}
              
            label.tournament-content__category
              | week tournament
        
        .col-md-4
          section.tournament-countdown
            h3.tournament-countdown__title
              | Event ends in:
              
            label.tournament-time
              span.tournament-time__title
                | 30
              
              span.tournament-time__description
                | days
              
            label.tournament-time
              span.tournament-time__title
                | 09
              
              span.tournament-time__description
                | hours
              
            label.tournament-time
              span.tournament-time__title
                | 54
              
              span.tournament-time__description
                | minutes
            
            a(href="" class="btn btn-danger btn-block tournament-countdown__btn")
              | Join Tournament
