extends ../layout

block title
  title Administrator | User
  
block content
  
  h1 User #{user.twitter.username}
  
  form(method="post")
    | Tokens: 
    input(type="text", name="tokens", value="#{user.tokens}")
  
  p #{user}
